:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

* {
  margin: 0;
}

.flex {
  display: flex;
}

.main {
  /* background: blue; */
  height: 100vh;
  width: 100vw;
}

.flex-col {
  flex-direction: column;
  /* background: red; */
}

.flex-row {
  flex-direction: row;
}

.main {

}

.main-upload-area {
  flex-grow: 1;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  /* background: yellow; */
  background: #d9f0f2;
  border: 3px dashed #00b7c3;
  /* border-width: 10px; */
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

}

.code-input {
  background: red;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.inputs > input {
  width: 1.2rem;
  height: 1.5rem;
  margin-left: 2px;
  margin-right: 2px;
}

.upload-icon {
  color: #00b7c3;
}

.upload-text {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  color: #00b7c3;
  font-weight: bold;
}
